; begin auth token
//pkgs.dev.azure.com/devtakas-public/ArtifactsStudy/_packaging/AngularLibTest/npm/registry/:username=devtakas-public
//pkgs.dev.azure.com/devtakas-public/ArtifactsStudy/_packaging/AngularLibTest/npm/registry/:_password=$(pat)
//pkgs.dev.azure.com/devtakas-public/ArtifactsStudy/_packaging/AngularLibTest/npm/registry/:email=t_o_19880522@outlook.com
//pkgs.dev.azure.com/devtakas-public/ArtifactsStudy/_packaging/AngularLibTest/npm/:username=devtakas-public
//pkgs.dev.azure.com/devtakas-public/ArtifactsStudy/_packaging/AngularLibTest/npm/:_password=$(pat)
//pkgs.dev.azure.com/devtakas-public/ArtifactsStudy/_packaging/AngularLibTest/npm/:email=t_o_19880522@outlook.com
; end auth token

registry=https://pkgs.dev.azure.com/devtakas-public/ArtifactsStudy/_packaging/CustomLibTest/npm/registry/

always-auth=true